

.dabody {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 300px;
    padding-right: 300px;


}

hr {
    display: block;
    height: 1px;
    padding-left: 500px;
    padding-right: 500px;

}

.robloxPro {
    color: blue;
}

.gap {
    background-color: rgba(0, 0, 0, 1);
}


